<hr>
<p>title: ides</p>
<h2 id="tags-总结-other"><a href="#tags-总结-other" class="headerlink" title="tags: [总结,other]"></a>tags: [总结,other]</h2><h1 id="人生苦短，IDE-S"><a href="#人生苦短，IDE-S" class="headerlink" title="人生苦短，IDE S"></a>人生苦短，IDE S</h1><blockquote>
<h3 id="不是所有事都是一个记事本就能搞定的，而且，你可能连记事本本身都搞不定"><a href="#不是所有事都是一个记事本就能搞定的，而且，你可能连记事本本身都搞不定" class="headerlink" title="不是所有事都是一个记事本就能搞定的，而且，你可能连记事本本身都搞不定"></a>不是所有事都是一个记事本就能搞定的，而且，你可能连记事本本身都搞不定</h3></blockquote>
<!--more-->
<h2 id="近乎全能"><a href="#近乎全能" class="headerlink" title="近乎全能"></a>近乎全能</h2><ul>
<li><h2 id="virtual-studio-code-（典型重型IDE）"><a href="#virtual-studio-code-（典型重型IDE）" class="headerlink" title="virtual studio code （典型重型IDE）"></a><a href="https://code.visualstudio.com/">virtual studio code</a> （典型重型IDE）</h2></li>
<li><h2 id="IDEA-（Android-studio就是它托起来的-当记事本吧）"><a href="#IDEA-（Android-studio就是它托起来的-当记事本吧）" class="headerlink" title="IDEA  （Android studio就是它托起来的,当记事本吧）"></a><a href="http://www.jetbrains.com/idea/">IDEA</a>  （Android studio就是它托起来的,当记事本吧）</h2></li>
<li><h2 id="eclipse-（各种语言的IDE）"><a href="#eclipse-（各种语言的IDE）" class="headerlink" title="eclipse （各种语言的IDE）"></a><a href="https://www.eclipse.org/downloads/">eclipse</a> （各种语言的IDE）</h2></li>
<li><h2 id="NetBeans-（jdk-官网在推）"><a href="#NetBeans-（jdk-官网在推）" class="headerlink" title="NetBeans （jdk 官网在推）"></a><a href="https://netbeans.org/">NetBeans</a> （jdk 官网在推）</h2></li>
</ul>
<h2 id="C-C"><a href="#C-C" class="headerlink" title="C/C++"></a>C/C++</h2><ul>
<li><h2 id="devc-（简单够用，只windows）"><a href="#devc-（简单够用，只windows）" class="headerlink" title="devc++ （简单够用，只windows）"></a><a href="https://bloodshed-dev-c.en.softonic.com/">devc++</a> （简单够用，只windows）</h2></li>
<li><h2 id="code-blocks-（有linux，代码补全好用）"><a href="#code-blocks-（有linux，代码补全好用）" class="headerlink" title="code::blocks  （有linux，代码补全好用）"></a><a href="http://www.codeblocks.org/">code::blocks</a>  （有linux，代码补全好用）</h2></li>
</ul>
<h2 id="Java"><a href="#Java" class="headerlink" title="Java"></a>Java</h2><ul>
<li><h2 id="eclipse-netbeans-idea"><a href="#eclipse-netbeans-idea" class="headerlink" title="eclipse netbeans idea"></a>eclipse netbeans idea</h2></li>
<li><h2 id="Android-studio-改造一下，跑-java-：）"><a href="#Android-studio-改造一下，跑-java-：）" class="headerlink" title="Android studio 改造一下，跑 java ：）"></a>Android studio 改造一下，跑 java ：）</h2></li>
</ul>
